/* For Tablets */
@media all and (max-width: 1000px) {
  .main .container{
  height:150px; 
  width:100vw;
}
  .right{
    width:100%; 
    height:50px;
    font-size:25px; 
    margin-bottom:0px;
    float:right; 
  } 
 .section h3{
  font-size:15px;
  border-bottom:1px solid rgba(255, 250, 240,0.8);
  margin-bottom:5px;
}
.section div{
  margin:2px ;
  font-size:10px;
}
.sections{
  margin:5px 5px; 
  height:900px; 
  padding:0px;
  background-color:rgb(255, 250, 240); 
  width:100vw; 
  text-align:center;
} 
.section{
  margin-top:10px;
  letter-spacing:1px; 
 /* float:right; 
  clear:right;*/
  width:100vw;  
  display:inline-block;
  background-color:rgba(0, 128, 128,0.8); 
  color:rgb(255, 250, 240);
}   
.pic-left{
    width:100vw;
    float:left;  
    margin:0px 10px; 
    height:300px;
  }   
  .art-page{ 
      display:inle-block;
      width:100vw;
    } 
    .art-page h1{ 
      font-size:20px;
    } 
    .button{ 
      float:none; 
    width:100vw;
    }
}

  @media all and (max-width: 670px) {
  .container{
    width:1vw;
    
  }  
  header{
    width:1vw; 
    height:50px;
  } 
  .header-right{
    width:100%;
  }
  .header-right li{
    font-size:10px; 
    line-height:30px;
    
  }  
  .pic-left{
    width:100vw;
    float:left;  
    margin:0px 10px; 
    height:300px;
  }  
  .right{
    width:100%; 
    height:50px;
    font-size:20px; 
    margin-bottom:0px;
    float:right; 
    clear:both;
  } 
  .section h3{
  font-size:15px;
  border-bottom:1px solid rgba(255, 250, 240,0.8);
  margin-bottom:5px;
} 
    
.section div{
  margin:2px ;
  font-size:10px;
}
.sections{
  margin:5px 5px; 
  height:900px; 
  padding:0px;
  background-color:rgb(255, 250, 240); 
  width:100vw;
} 
.section{
  margin-top:10px;
  letter-spacing:1px; 
 /* float:right; 
  clear:right;*/
  width:100vw;  
  display:inline-block;
  background-color:rgba(0, 128, 128,0.8); 
  color:rgb(255, 250, 240);
}  
.main .container{
  height:150px; 
  width:100vw;
}
 footer{
    height:30px;
  } 
  .main{
    width:1vw;
  } 
  .top{
    width:100vw; 
    color:black;
  }
  .footer-left span{
    margin:0px;
    font-size:10px; 
    line-height:30px;
    letter-spacing:1px;
  } 
  .btn-wrapper a{
    font-size:10px;
    
  } 
  .btn-wrapper p{
    font-size:10px; 
    text-align:center;
  } 
    
  .container{
    marhin-top:30px;
  } 
  .top{
    padding:50px 0px 60px 0px;
  }
  .container h1{
    font-size:25px; 
    Margin-left:10px;
    letter-spacing:2px; 
    text-align:center;
  } 
  .container h2{
    font-size:15px; 
    margin-left:10px; 
    letter-spacing:1px; 
    display:inline-block;
  }  
  .developer{
    border:none; 
    font-size:13px; 
    margin:10px; 
    width:50vw; 
    display:inline-block; 
    margin:0px 10px;
  }
  
  .btn{
    float:none; 
    width:100vw;
  }
     .art-page{ 
      display:inle-block;
      width:100vw;
    } 
    .art-page h1{ 
      font-size:15px;
    } 
    .button{ 
      float:none; 
    width:100vw;
    }
}
